---
import "../styles/global.css";
// Component Imports

import { Intro } from "@/components/pages/intro.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body class="flex justify-center p-8">
    <div class="w-[80%]">
      <Intro client:load />
    </div>
  </body>
</html>
